__pycache__/
.venv/
saved_models/
temp_viz_json/
profiling/training_profile.prof
files_to_send.py
code_to_send_physics.txt
code_to_send_rl.txt
code_to_send_full.txt
profiling/
.DS_Store
video_output/
three_rendering/public
*.claude